<div class="container">
  <div class="col-md-6 col-md-offset-2">
    <%if @Search%>
      <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
        <%= text_field_tag :threat_tri,@Search.threat_tri,placeholder: "threat_tri", class: "form-control"%>
        <%= text_field_tag :threat_tri,@Search.source_ids,placeholder: "source_ids", class: "form-control"%>
        <%= text_field_tag :threat_tri,@Search.risk,placeholder: "risk", class: "form-control"%>
        <%= text_field_tag :threat_tri,@Search.country,placeholder: "country", class: "form-control"%>
        <%= text_field_tag :threat_tri,@Search.asn,placeholder: "asn", class: "form-control"%>
        <%= text_field_tag :asn_registry,@Search.asn_registry,placeholder: "asn_registry", class: "form-control"%>
        <%= text_field_tag :category,@Search.category,placeholder: "category", class: "form-control"%>
        <%= text_field_tag :category_description,@Search.category_description,placeholder: "category_description", class: "form-control"%>
        <%= text_field_tag :city,@Search.threat_tri,placeholder: "city", class: "form-control"%>
        <%= text_field_tag :confidence,@Search.confidence,placeholder: "confidence", class: "form-control"%>
        <%= text_field_tag :continent_code,@Search.continent_code,placeholder: "continent_code", class: "form-control"%>
        <%= text_field_tag :location,@Search.location,placeholder: "location", class: "form-control"%>
        <%= text_field_tag :logid,@Search.logid,placeholder: "logid", class: "form-control"%>
        <%= text_field_tag :message,@Search.message,placeholder: "message", class: "form-control"%>
        <%= text_field_tag :source_ids,@Search.source_ids,placeholder: "source_ids", class: "form-control"%>
        <%= text_field_tag :threat_type,@Search.threat_type,placeholder: "threat_type", class: "form-control"%>
        <%= text_field_tag :type,@Search.type,placeholder: "type", class: "form-control"%>
        <%= text_field_tag :type_description,@Search.type_description,placeholder: "type_description", class: "form-control"%>
        <%= text_field_tag :global_filter_time,@Search.global_filter_time,placeholder: "global_filter_time", class: "form-control"%>
        <%= text_field_tag :logstash_backend,@Search.logstash_backend,placeholder: "logstash_backend", class: "form-control"%>
        <%= text_field_tag :logstash_febe_latency_sec,@Search.logstash_febe_latency_sec,placeholder: "logstash_febe_latency_sec", class: "form-control"%>
        <%= text_field_tag :logstash_frontend,@Search.logstash_frontend,placeholder: "logstash_frontend", class: "form-control"%>
        <%= text_field_tag :raw_message_bytesize,@Search.raw_message_bytesize,placeholder: "raw_message_bytesize", class: "form-control"%>
        <%= text_field_tag :vendor_filter_time,@Search.vendor_filter_time,placeholder: "vendor_filter_time", class: "form-control"%>
        <%= text_field_tag :id,@Search.id,placeholder: "id", class: "form-control"%>
        <%= text_field_tag :srcevent,@Search.srcevent,placeholder: "srcevent", class: "form-control"%>
        <%= text_field_tag :timestamp,@Search.timestamp,placeholder: "timestamp", class: "form-control"%>
        <%= text_field_tag :vendor,@Search.vendor,placeholder: "vendor", class: "form-control"%>
        <%= text_field_tag :version,@Search.version,placeholder: "version", class: "form-control"%>
        <%= submit_tag "Save",  class: "btn btn-success" %>
        <%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
      <%end%>
    <%end%>
  </div>
</div>
