<div class="container col-xs-12">
  <p id="notice"><%= notice %></p>
  <h1 class="bg-info"  style="text-align:center">Modify records</h1>

<div class ="raw col-xs-12" style ="align:center">
  <div style="display:table; margin-right: auto; margin-left: auto;">
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> alert-dismissible" role="alert" style="padding-left:0!important;"><%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

  <% end %>
  <%= form_tag search_index_path, method: 'get' do %>
  <%= label_tag :query %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag :search %>
  <% end %>
  </div>
</div>
</div>
  <hr>

<div class="container">
  <div class="table-responsive col-xs-12">
    <table class="table table-bordered table-stripped table-hover table-inverse">
      <tbody>
        <tr>
          <th>Threat Record Indicator (TRI)</th>

          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :threat_tri,@Search.threat_tri,placeholder: "threat_tri", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <tr>
            <th>Source(asn_reg)</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :threat_tri,@Search.source_ids,placeholder: "source_ids", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Risk</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :threat_tri,@Search.risk,placeholder: "risk", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Country</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :threat_tri,@Search.country,placeholder: "country", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>ASN</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :threat_tri,@Search.asn,placeholder: "asn", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>ASN Registry </th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :asn_registry,@Search.asn_registry,placeholder: "asn_registry", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <!-- FGFDG -->
        <tr>
          <th>Category</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :category,@Search.category,placeholder: "category", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Category Description</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :category_description,@Search.category_description,placeholder: "category_description", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>City</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :city,@Search.threat_tri,placeholder: "city", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Confidence</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :confidence,@Search.confidence,placeholder: "confidence", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Continet Code</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :continent_code,@Search.continent_code,placeholder: "continent_code", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Location</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :location,@Search.location,placeholder: "location", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Logid Id</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :logid,@Search.logid,placeholder: "logid", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Message</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :message,@Search.message,placeholder: "message", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Source Ids</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :source_ids,@Search.source_ids,placeholder: "source_ids", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Threat type</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :threat_type,@Search.threat_type,placeholder: "threat_type", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Type</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :type,@Search.type,placeholder: "type", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Type Description</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :type_description,@Search.type_description,placeholder: "type_description", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
      <th>Global Filter Time</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :global_filter_time,@Search.global_filter_time,placeholder: "global_filter_time", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Logstash Backend</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :logstash_backend,@Search.logstash_backend,placeholder: "logstash_backend", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Logstash Febe Latency Sec</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :logstash_febe_latency_sec,@Search.logstash_febe_latency_sec,placeholder: "logstash_febe_latency_sec", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Logstash Frontend</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :logstash_frontend,@Search.logstash_frontend,placeholder: "logstash_frontend", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Raw Message Bytesize</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :raw_message_bytesize,@Search.raw_message_bytesize,placeholder: "raw_message_bytesize", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Vendor Filtertime</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :vendor_filter_time,@Search.vendor_filter_time,placeholder: "vendor_filter_time", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Id</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :id,@Search.id,placeholder: "id", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Sr Cevent</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :srcevent,@Search.srcevent,placeholder: "srcevent", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Time Stamp</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :timestamp,@Search.timestamp,placeholder: "timestamp", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
        <th>Vendor</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :vendor,@Search.vendor,placeholder: "vendor", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>
        <tr>
          <th>Version</th>
          <%if @Search%>
          <%= form_tag search_update_path, method: :put, html: { style: "display:inline;" } do  %>
          <td><%= text_field_tag :version,@Search.version,placeholder: "version", class: "form-control"%> </td>

          <td><%= submit_tag "Save",  class: "btn btn-success" %></td>
          <td><%= link_to 'Delete' , search_path(@Search) , method: :delete, class: "btn btn-danger" %>
          </td>
          <%end%>
          <%end%>
        </tr>

        <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
