<div class="container  col-xs-12" >
  <p id="notice"><%= notice %></p>
  <h1 class="bg-info"  style="text-align:center">Threat Records</h1>
  <%=link_to 'Settings' , edit_setting_path(@single.id) %>
  <hr>
  <div style="display:table; margin-right: auto; margin-left: auto;">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> alert-dismissible" role="alert" style="padding-left:0!important;"><%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    <% end %>
    <%= form_tag search_index_path, method: 'get' do %>
      <%= label_tag :query %>
      <%= text_field_tag :q, params[:q] %>
      <%#=select_tag :country , options_for_select(["eth"],"Ethiopia")%>
      <%= submit_tag :search %>
    <% end %>
  </div>
  <!-- <%#= link_to admin_settings_path do %>
  <i class="fa fa-cogs" aria-hidden="true"></i>
  <%#end%> -->
</div>
<div class="container col-xs-12">
  <div class="table-responsive">
    <table class="table table-bordered table-stripped table-hover ">
      <thead class="thead-inverse">
        <tr>
          <th>IP</th>
          <!--  <th>Threat Record as a Key</th>--

          <% if @setting.source_ids_v.to_bool %>
          <th>Source(asn_reg)</th>
          <%end%>

          <% if @setting.threat_tri_v.to_bool %>
          <th>Threat Record Indicator (TRI)</th>
          <%end%>
          <!--<th>Risk</th>-->
          <% if @setting.risk_v.to_bool %>
            <th>Risk</th>
          <%end%>
          <% if @setting.country_v.to_bool %>
            <th>Country</th>
          <%end%>
          <% if @setting.asn_v.to_bool %>
            <th>ASN</th>
          <%end%>
          <% if @setting.asn_registry_v.to_bool %>
            <th>ASN Registry</th>
          <%end%>
          <% if @setting.category_v.to_bool %>
            <th>Category</th>
          <%end%>
          <% if @setting.category_description_v.to_bool %>
            <th>Category Description</th>
          <%end%>
          <% if @setting.city_v.to_bool %>
            <th>City</th>
          <%end%>
          <% if @setting.confidence_v.to_bool %>
            <th>Confidence</th>
          <%end%>
          <% if @setting.continent_code_v.to_bool %>
            <th>Continet Code</th>
          <%end%>
          <% if @setting.location_v.to_bool %>
            <th>Location</th>
          <%end%>
          <% if @setting.logid_v.to_bool %>
            <th>Logid Id</th>
          <%end%>
          <% if @setting.message_v.to_bool %>
            <th>Message</th>
          <%end%>
          <% if @setting.source_ids_v.to_bool %>
            <th>Source Ids</th>
          <%end%>
          <% if @setting.threat_type_v.to_bool %>
            <th>Threat type</th>
          <%end%>
          <% if @setting.type_v.to_bool %>
            <th>Type</th>
          <%end%>
          <% if @setting.type_description_v.to_bool %>
            <th>Type Description</th>
          <%end%>
          <% if @setting.global_filter_time_v.to_bool %>
            <<th>Global Filter Time</th>
          <%end%>
          <% if @setting.logstash_backend_v.to_bool %>
            <th>Logstash Backend</th>
          <%end%>
          <% if @setting.logstash_febe_latency_sec_v.to_bool %>
            <th>Logstash Febe Latency Sec</th>
          <%end%>
          <% if @setting.logstash_frontend_v.to_bool %>
            <th>Logstash Frontend</th>
          <%end%>
          <% if @setting.raw_message_bytesize_v.to_bool %>
            <th>Raw Message Bytesize</th>
          <%end%>
          <% if @setting.vendor_filter_time_v.to_bool %>
            <th>Vendor Filtertime</th>
          <%end%>
          <% if @setting.id_v.to_bool %>
            <th>Id</th>
          <%end%>
          <% if @setting.srcevent_v.to_bool %>
            <th>Sr Cevent</th>
          <%end%>
          <% if @setting.timestamp_v.to_bool %>
            <th>Time Stamp</th>
          <%end%>
          <% if @setting.vendor_v.to_bool %>
            <th>Vendor</th>
          <%end%>
          <% if @setting.version_v.to_bool %>
            <th>Version</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <%if @Search%>
          <%@Search.each do |result|%>
            <tr>
              <%if @setting.index_v.to_bool%>
                <% if !result.threat_id.empty? %>
                  <td><%= result.threat_id%> </td>
                <%else%>
                  <td><label>No Id Found</label> </td>
                <%end%>
              <%end%>
              <% if @setting.asn_registry_v.to_bool %>
                <td><%= result.asn_registry %> </td>
              <%end%>
              <% if @setting.risk_v.to_bool %>
                <td><%= result.risk%> </td>
              <%end%>
              <% if @setting.country_v.to_bool %>
                <td><%= result.country%> </td>
              <%end%>
              <% if @setting.asn_v.to_bool %>
                <td><%= result.asn%> </td>
              <%end%>
              <!--          <td><%= number_to_percentage(result.threat_tri  * 100) unless result.threat_tri.nil?%> </td>-->
              <% if @setting.confidence_v.to_bool%>
                <td><%= result.confidence %> </td>
              <%end%>
              <% if @setting.continent_code_v.to_bool%>
                <td><%= result.continent_code %> </td>
              <%end%>
              <% if @setting.location_v.to_bool%>
                <td><%= result.location %> </td>
              <%end%>
              <% if @setting.logid_v.to_bool%>
                <td><%= result.logid %> </td>
              <%end%>
              <% if @setting.message_v.to_bool%>
                <td><%= result.message %> </td>
              <%end%>
              <% if @setting.source_ids_v.to_bool%>
                <td><%= result.source_ids %> </td>
              <%end%>
              <% if @setting.threat_type_v.to_bool%>
                <td><%= result.threat_type %> </td>
              <%end%>
              <% if @setting.type_v.to_bool%>
                <td><%= result.type %> </td>
              <%end%>
              <% if @setting.type_description_v.to_bool%>
                <td><%= result.type_description %> </td>
              <%end%>
              <% if @setting.lgstash_backend_v.to_bool%>
                <td><%= result.lgstash_backend %> </td>
              <%end%>
              <% if @setting.logstash_febe_latency_sec_v.to_bool%>
                <td><%= result.logstash_febe_latency_sec %> </td>
              <%end%>
              <% if @setting.logstash_frontend_v.to_bool%>
                <td><%= result.logstash_frontend %> </td>
              <%end%>
              <% if @setting.vendor_filter_time_v.to_bool%>
                <td><%= result.vendor_filter_time %> </td>
              <%end%>
              <% if @setting.id_v.to_bool%>
                <td><%= result.id %> </td>
              <%end%>
              <% if @setting.id_v.to_bool%>
                <td><%= result.id %> </td>
              <%end%>
              <% if @setting.timestamp_v.to_bool%>
                <td><%= result.timestamp %> </td>
              <%end%>
              <% if @setting.version_v.to_bool%>
                <td><%= result.version_v %> </td>
              <%end%>
              <td><%= link_to "Edit", edit_search_path(result), class: "btn btn-primary" %></td>
              <td><%= link_to "Show", search_path(result), class: "btn btn-primary" %></td>
              <%#= link_to 'Delete' , search_path(result) , method: :delete , class: "btn btn-danger" %>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<div>
 <div class="col-md-4">
  <h3>Top 10</h3>
  <%#=pie_chart db_style(@Search)%>
  <%= column_chart db_style_top_10(@search1) %>
  <%= pie_chart db_style(@search_country)%>
 </div>

</div>
<!-- start of chart -->
<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
         <h3 class="text-center text-muted">
             Top 10 Countries by count
          </h3>
        </div>
    </div>
  <div class="row" style="padding: 15px">
  <div class="col-md-12">
    <div class="btn-group" style="margin-left: 45%">
       <button class="btn btn-default">
         Search by
       </button>
       <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
         <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
         <li>
           <a href="#">Key</a>
         </li>
         <li>
           <a href="#">Source</a>
         </li>
         <li>
           <a href="#">Country</a>
         </li>
         <li>
           <a href="#">TRI</a>
         </li>
         <li>
           <a href="#">Risk</a>
         </li>
         <li>
           <a href="#">ASN</a>
         </li>
         <li class="divider">
         </li>
         <li>
           <a href="#">Something else here</a>
         </li>
       </ul>
     </div>
   </div>
  </div>
  <div class="row">
   <div class="col-md-offset-2 col-md-4" >
     <div id="test"></div>
   </div>
   <div class="col-md-4" >
     <div id="test1"></div>
   </div>
  </div>
  </div> -->
<!-- end of chart -->
<!-- <script type="text/javascript">
  alter_div_id()
</script> -->
