<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>THREAT RECORDS</h1>
  <%=link_to 'Settings' , edit_setting_path(@single.id) %>
  <hr>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> alert-dismissible" role="alert" style="padding-left:0!important;"><%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>
  <%= form_tag search_index_path, method: 'get' do %>
    <%= label_tag :query %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag :search %>
  <% end %>
  <!-- <%#= link_to admin_settings_path do %>
    <i class="fa fa-cogs" aria-hidden="true"></i>
  <%#end%> -->
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-stripped table-hover">
      <thead>
        <tr>
          <th>Threat Record as a Key</th>
          <th>Source(asn_reg)</th>
          <th>Threat Record Indicator (TRI)</th>
          <th>Risk</th>
          <th>Country</th>
          <th>ASN</th>
        </tr>
      </thead>
      <tbody>
        <%if @Search%>
          <%@Search.each do |result|%>
            <tr>
              <%if @setting.index_v.to_bool%>
                <% if !result.threat_id.empty? %>
                  <td><%= result.threat_id%> </td>
                <%else%>
                  <td><label>No Id Found</label> </td>
                <%end%>
              <%end%>
              <% if @setting.asn_registry_v.to_bool %>
                <td><%= result.asn_registry %> </td>
              <%end%>

                <!--<td><%= number_to_percentage(result.threat_tri  * 100) unless result.threat_tri.nil?%> </td>-->

    <% if @setting.risk_v.to_bool %>
                <td><%= result.risk%> </td>
  <%end%>
  <% if @setting.country_v.to_bool %>
                <td><%= result.country%> </td>
  <%end%>
    <% if @setting.asn_v.to_bool %>
                <td><%= result.asn%> </td>
          <%end%>
              <% if @setting.confidence_v.to_bool%>
                <td><%= result.confidence %> </td>
                <%end%>

                <% if @setting.continent_code_v.to_bool%>
                  <td><%= result.continent_code %> </td>
                  <%end%>
                  <% if @setting.location_v.to_bool%>
                    <td><%= result.location %> </td>
                    <%end%>
                    <% if @setting.logid_v.to_bool%>
                      <td><%= result.logid %> </td>
                      <%end%>
                      <% if @setting.message_v.to_bool%>
                        <td><%= result.message %> </td>
                        <%end%>

                        <% if @setting.source_ids_v.to_bool%>
                          <td><%= result.source_ids %> </td>
                          <%end%>
                          <% if @setting.threat_type_v.to_bool%>
                            <td><%= result.threat_type %> </td>
                            <%end%>
                            <% if @setting.type_v.to_bool%>
                              <td><%= result.type %> </td>
                              <%end%>
                              <% if @setting.type_description_v.to_bool%>
                                <td><%= result.type_description %> </td>
                                <%end%>

                                <% if @setting.lgstash_backend_v.to_bool%>
                                  <td><%= result.lgstash_backend %> </td>
                                  <%end%>
                                  <% if @setting.logstash_febe_latency_sec_v.to_bool%>
                                        <td><%= result.logstash_febe_latency_sec %> </td>
                                        <%end%>

                                        <% if @setting.logstash_frontend_v.to_bool%>
                                              <td><%= result.logstash_frontend %> </td>
                                              <%end%>

                                              <% if @setting.vendor_filter_time_v.to_bool%>
                                                    <td><%= result.vendor_filter_time %> </td>
                                                    <%end%>

                                                    <% if @setting.id_v.to_bool%>
                                                            <td><%= result.id %> </td>
                                                            <%end%>

                                                            <% if @setting.id_v.to_bool%>
                                                                    <td><%= result.id %> </td>
                                                                    <%end%>

                                                                    <% if @setting.timestamp_v.to_bool%>
                                                                            <td><%= result.timestamp %> </td>
                                                                            <%end%>
                                                                            <% if @setting.version_v.to_bool%>
                                                                                    <td><%= result.version_v %> </td>
                                                                                    <%end%>
              <td><%= link_to "Edit", edit_search_path(result), class: "btn btn-primary" %></td>
              <%#= link_to 'Delete' , search_path(result) , method: :delete , class: "btn btn-danger" %>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
