<div class="container" >
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h1>Threat Finder</h1>
    </div>
  </div>
  <ul id="pills" class="nav nav-pills">
    <li class="active"><a data-toggle="tab" href="#home">Threats</a></li>
    <li><a data-toggle="tab" href="#menu1">Top 10 Threats</a></li>
    <li><a data-toggle="tab" href="#menu2">Top 10 Countries</a></li>
    <li><a data-toggle="tab" href="#menu3">Top 10 Countries Based on Threat TRI</a></li>
  </ul>
  <%= render 'layouts/alerts'%>
  <div class="col-md-6">
    <%= form_tag search_index_path, method: 'get' do %>
      <%= label_tag 'Search by IP/Host' %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag :search %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= form_tag search_index_path, method: 'get' do %>
      <%= label_tag 'Search by Country' %>
      <%= text_field_tag :country, params[:country] %>
      <%= submit_tag :search %>
    <% end %>
  </div>
</div>
<div id="content" class="container">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= render 'search/results'%>
    </div>
    <div id="menu1" class="tab-pane fade">
      <%= render 'search/analytics_threats'%>
    </div>
    <div id="menu2" class="tab-pane fade">
      <%= render 'search/analytics_countries'%>
    </div>
    <div id="menu3" class="tab-pane fade">
      <%= render 'search/analytics_countries_tri'%>
    </div>
  </div>
</div>
