<div class="container">
  <ul>
    <div class="row">
      <%=form_for @setting do |setting|%>
        <div class="col-md-6">
          <li>
            <%=setting.label :index_v%>
            <%=setting.check_box :index_v%>
          </li>
          <li>
            <%=setting.label :country_v%>
            <%=setting.check_box :country_v%>
          </li>
          <li>
            <%=setting.label :country_code_v%>
            <%=setting.check_box :country_code_v%>
          </li>
          <li>
            <%=setting.label :threat_id_v%>
            <%=setting.check_box :threat_id_v%>
          </li>
          <li>
            <%=setting.label :host_v%>
            <%=setting.check_box :host_v%>
          </li>
          <li>
            <%=setting.label :threat_tri_v%>
            <%=setting.check_box :threat_tri_v%>
          </li>
          <li>
            <%=setting.label :risk_v%>
            <%=setting.check_box :risk_v%>
          </li>
          <li>
            <%=setting.label :asn_v%>
            <%=setting.check_box :asn_v%>
          </li>
          <li>
            <%=setting.label :asn_registry_v%>
            <%=setting.check_box :asn_registry_v%>
          </li>
        </div>
        <%=setting.submit nil , class: "btn-success"%>
      <%end%>
    </ul>
  </div>
