<div class="container">
  <ul>
    <div class="row">
      <%=form_for @setting do |setting|%>
        <div class="col-md-6">
        </div>
        <div>
          <%=setting.fields_for :preferences  do |p|%>
            <li>
              <%=p.label :index_v%>
              <%=p.check_box :index_v , checked: @hash.index_v.to_bool %>
            </li>
            <li>
              <%=p.label :country_v%>
              <%=p.check_box :country_v%>
            </li>
            <li>
              <%=p.label :country_code_v%>
              <%=p.check_box :country_code_v%>
            </li>
            <li>
              <%=p.label :threat_id_v%>
              <%=p.check_box :threat_id_v%>
            </li>
            <li>
              <%=p.label :host_v%>
              <%=p.check_box :host_v%>
            </li>
            <li>
              <%=p.label :threat_tri_v%>
              <%=p.check_box :threat_tri_v%>
            </li>
            <li>
              <%=p.label :risk_v%>
              <%=p.check_box :risk_v%>
            </li>
            <li>
              <%=p.label :asn_v%>
              <%=p.check_box :asn_v%>
            </li>
            <li>
              <%=p.label :asn_registry_v%>
              <%=p.check_box :asn_registry_v%>
            </li>
          <%end%>
        </div>
        <%=setting.submit nil , class: "btn-success"%>
      <%end%>
    </ul>
  </div>
