<div class="container">
  <h1 class="bg-info" style="text-align:center">Search preferences</h1>
  <hr>
  <h3 style="text-align:center">Choose from the options below according to your search preferences.</h3>
  <hr>
  <ul class="list-group">
    <div class="row">
      <%=form_for @setting do |setting|%>
        <div class="col-xs-4">
          <%=setting.fields_for :preferences  do |p|%>
            <li class="list-group-item">
              <%#=p.label :index%>
              <%#=p.check_box :index , checked: @hash.index.to_bool , class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :country%>
              <%=p.check_box :country , checked: @hash.country.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :country_code%>
              <%=p.check_box :country_code , checked: @hash.country_code.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :threat_id%>
              <%=p.check_box :threat_id , checked: @hash.threat_id.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :host%>
              <%=p.check_box :host , checked: @hash.host.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :threat_tri%>
              <%=p.check_box :threat_tri , checked: @hash.threat_tri.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :risk%>
              <%=p.check_box :risk , checked: @hash.risk.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :asn%>
              <%=p.check_box :asn , checked: @hash.asn.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :asn_registry%>
              <%=p.check_box :asn_registry , checked: @hash.asn_registry.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :category%>
              <%=p.check_box :category , checked: @hash.category.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :category_description%>
              <%=p.check_box :category_description , checked: @hash.category_description.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :city%>
              <%=p.check_box :city , checked: @hash.city.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :confidence%>
              <%=p.check_box :confidence , checked: @hash.confidence.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :continent_code%>
              <%=p.check_box :continent_code , checked: @hash.continent_code.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :location%>
              <%=p.check_box :location , checked: @hash.location.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :logid%>
              <%=p.check_box :logid , checked: @hash.logid.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :message%>
              <%=p.check_box :message , checked: @hash.message.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :source_ids%>
              <%=p.check_box :source_ids , checked: @hash.source_ids.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :threat_type%>
              <%=p.check_box :threat_type , checked: @hash.threat_type.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :type%>
              <%=p.check_box :type , checked: @hash.type.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :type_description%>
              <%=p.check_box :type_description , checked: @hash.type_description.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :global_filter_time%>
              <%=p.check_box :global_filter_time , checked: @hash.global_filter_time.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :lgstash_backend%>
              <%=p.check_box :logstash_backend , checked: @hash.logstash_backend.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :logstash_febe_latency_sec%>
              <%=p.check_box :logstash_febe_latency_sec , checked: @hash.logstash_febe_latency_sec.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :logstash_frontend%>
              <%=p.check_box :logstash_frontend , checked: @hash.logstash_frontend.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :raw_message_bytesize%>
              <%=p.check_box :raw_message_bytesize , checked: @hash.raw_message_bytesize.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :vendor_filter_time%>
              <%=p.check_box :vendor_filter_time , checked: @hash.vendor_filter_time.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :id%>
              <%=p.check_box :id , checked: @hash.id.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :srcevent%>
              <%=p.check_box :srcevent , checked: @hash.srcevent.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :timestamp%>
              <%=p.check_box :timestamp , checked: @hash.timestamp.to_bool, class: "pull-right"%>
            </li>
            <li class="list-group-item">
              <%=p.label :vendor%>
              <%=p.check_box :vendor , checked: @hash.timestamp.to_bool, class: "pull-right"%>
            </li class="list-group-item">
            <li class="list-group-item">
              <%=p.label :version%>
              <%=p.check_box :version , checked: @hash.version.to_bool, class: "pull-right"%>
            </li>
          <%end%>
        </div>
        <div>
          <%=setting.submit nil , class: "btn btn-success"%>
        <%end%>
      </div>
    </ul>
  </div>
