<div class="container">
  <ul>
    <div class="row">
      <%=form_for @setting do |setting|%>
      <div class="col-md-6">
      </div>
      <div>
        <%=setting.fields_for :preferences  do |p|%>
        <li>
          <%=p.label :index_v%>
          <%=p.check_box :index_v , checked: @hash.index_v.to_bool %>
        </li>
        <li>
          <%=p.label :country_v%>
          <%=p.check_box :country_v , checked: @hash.country_v.to_bool%>
        </li>
        <li>
          <%=p.label :country_code_v%>
          <%=p.check_box :country_code_v , checked: @hash.country_code_v.to_bool%>
        </li>
        <li>
          <%=p.label :threat_id_v%>
          <%=p.check_box :threat_id_v , checked: @hash.threat_id_v.to_bool%>
        </li>
        <li>
          <%=p.label :host_v%>
          <%=p.check_box :host_v , checked: @hash.host_v.to_bool%>
        </li>
        <li>
          <%=p.label :threat_tri_v%>
          <%=p.check_box :threat_tri_v , checked: @hash.threat_tri_v.to_bool%>
        </li>
        <li>
          <%=p.label :risk_v%>
          <%=p.check_box :risk_v , checked: @hash.risk_v.to_bool%>
        </li>
        <li>
          <%=p.label :asn_v%>
          <%=p.check_box :asn_v , checked: @hash.asn_v.to_bool%>
        </li>
        <li>
          <%=p.label :asn_registry_v%>
          <%=p.check_box :asn_registry_v , checked: @hash.asn_registry_v.to_bool%>
        </li>


      
        <li>
          <%=p.label :category_v%>
          <%=p.check_box :category_v , checked: @hash.category_v.to_bool%>
        </li>
        <li>
          <%=p.label :category_description_v%>
          <%=p.check_box :category_description_v , checked: @hash.category_description_v.to_bool%>
        </li>

        <li>
          <%=p.label :city_v%>
          <%=p.check_box :city_v , checked: @hash.city_v.to_bool%>
        </li>
        <li>
          <%=p.label :confidence_v%>
          <%=p.check_box :confidence_v , checked: @hash.confidence_v.to_bool%>
        </li>
        <li>
          <%=p.label :continent_code_v%>
          <%=p.check_box :continent_code_v , checked: @hash.continent_code_v.to_bool%>
        </li>
        <li>
          <%=p.label :location_v%>
          <%=p.check_box :location_v , checked: @hash.location_v.to_bool%>
        </li>
        <li>
          <%=p.label :logid_v%>
          <%=p.check_box :logid_v , checked: @hash.logid_v.to_bool%>
        </li>
        <li>
          <%=p.label :message_v%>
          <%=p.check_box :message_v , checked: @hash.message.to_bool%>
        </li>
        <li>
          <%=p.label :source_ids_v%>
          <%=p.check_box :source_ids_v , checked: @hash.source_ids_v.to_bool%>
        </li>
        <li>
          <%=p.label :threat_type_v%>
          <%=p.check_box :threat_type_v , checked: @hash.threat_type_v.to_bool%>
        </li>
        <li>
          <%=p.label :type_v%>
          <%=p.check_box :type_v , checked: @hash.type_v.to_bool%>
        </li>
        <li>
          <%=p.label :type_description_v%>
          <%=p.check_box :type_description_v , checked: @hash.type_description_v.to_bool%>
        </li>
        <li>
          <%=p.label :global_filter_time_v%>
          <%=p.check_box :global_filter_time_v , checked: @hash.global_filter_time_v.to_bool%>
        </li>
        <li>
          <%=p.label :lgstash_backend_v%>
          <%=p.check_box :logstash_backend_v , checked: @hash.logstash_backend_v.to_bool%>
        </li>
        <li>
          <%=p.label :logstash_febe_latency_sec_v%>
          <%=p.check_box :logstash_febe_latency_sec_v , checked: @hash.logstash_febe_latency_sec_v.to_bool%>
        </li>
        <li>
          <%=p.label :logstash_frontend_v%>
          <%=p.check_box :logstash_frontend_v , checked: @hash.logstash_frontend_v.to_bool%>
        </li>
        <li>
          <%=p.label :raw_message_bytesize_v%>
          <%=p.check_box :raw_message_bytesize_v , checked: @hash.raw_message_bytesize_v.to_bool%>
        </li>

        <li>
          <%=p.label :vendor_filter_time_v%>
          <%=p.check_box :vendor_filter_time_v , checked: @hash.vendor_filter_time_v.to_bool%>
        </li>
        <li>
          <%=p.label :id_v%>
          <%=p.check_box :id_v , checked: @hash.id_v.to_bool%>
        </li>

        <li>
          <%=p.label :srcevent_v%>
          <%=p.check_box :srcevent_v , checked: @hash.srcevent_v.to_bool%>
        </li>
        <li>
          <%=p.label :timestamp_v%>
          <%=p.check_box :timestamp_v , checked: @hash.timestamp_v.to_bool%>
        </li>
        <li>
          <%=p.label :vendor_v%>
          <%=p.check_box :vendor_v , checked: @hash.timestamp_v.to_bool%>
        </li>
        <li>
          <%=p.label :version_v%>
          <%=p.check_box :version_v , checked: @hash.version_v.to_bool%>
        </li>
        <%end%>
      </div>
      <%=setting.submit nil , class: "btn-success"%>
      <%end%>
    </ul>
  </div>
