<!DOCTYPE html>
<html>
  <head>
    <title>ThreatDb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 
  <%= stylesheet_link_tag *Dir[Rails.root.join("public/stylesheets/analytics/*.css")] %>
  <%= javascript_include_tag *Dir[Rails.root.join("public/javascripts/analytics/*.js")] %>

  </head>
  <body>
    <%= yield %>
<!-- start of chart -->
<div class="container-fluid">
<div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-muted">
			Top 10 Countries by count 
			</h3>
		</div>
	</div>
<div class = "row" style ="padding: 15px">
<div class="col-md-12">
			<div class="btn-group" style="margin-left: 45%">
				 
				<button class="btn btn-default">
					Search by
				</button> 
				<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
				<li>
						<a href="#">Key</a>
					</li>
					<li>
						<a href="#">Source</a>
					</li>
					<li>
						<a href="#">Country</a>
					</li>
					<li>
						<a href="#">TRI</a>
					</li>
					<li>
						<a href="#">Risk</a>
					</li>
						<li>
						<a href="#">ASN</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#">Something else here</a>
					</li>
				</ul>
			</div> 
		</div>
	</div>
<div class="row">	
<div class="col-md-offset-2 col-md-4" >
<div id="test"></div>
</div>
<div class="col-md-4" >
<div id="test1"></div>
</div>
</div>
</div>
<!-- end of chart -->

    <script type="text/javascript">
    alter_div_id()

    </script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  </body>
</html>
