<!DOCTYPE html>
<html>
  <head>
    <title>ThreatDb</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag *Dir[Rails.root.join("public/stylesheets/analytics/*.css")] %>
    <%= javascript_include_tag *Dir[Rails.root.join("public/javascripts/analytics/*.js")] %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text"><b><%= link_to 'Crypteia 2', root_path %></b></p>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li>
                <%=link_to 'Settings' , edit_setting_path(Setting.first) %>
              </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= current_user.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Profile', edit_user_registration_path %></li>
                  <li><%= link_to('Logout', destroy_user_session_path, method: :get) %>   </li>
                </ul>
              </li>
            <% else %>
              <li><a href=/users/sign_in><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a href=/users/sign_up><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  </body>
</html>
